<%= erb :menu, locals: { pageid: 'home' } %>

Click a Consumer to view Field Workers.

<table class="primary">
  <thead>
    <tr>
      <th>Consumer</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% filetype_array.each do |filetype| %>
    <tr>
      <td><%= filetype %></td>
      <td><a href="/fieldforce/view/<%= filetype %>">View Data</a></td>
    <% end %>
    </tr>
  </tbody>
</table>
