<%= erb :menu, locals: { pageid: 'home' } %>

<form action="searchresults" method="post" action="#"  id="searchform">
  First Name:<br>
  <input  type="text" name="firstname">
  <br>Surname:<br>
  <input type="text" name="surname">
  <br>Job Role ID:<br>
  <input type="text" name="jobroleid">
  <br>Area Code:<br>
  <input type="text" name="areacode">
  <br>
  <input  type="submit" name="submit" value="Search">
</form>
