<%= erb :menu, locals: { pageid: 'home' } %>

<form action="searchresults" method="post" action="#"  id="searchform">
  First Name:<br>
  <input  type="text" name="firstname">
  <br>Surname:<br>
  <input type="text" name="surname">
  <br>Job Role ID:<br>
  <input type="text" name="jobroleid">
  <br>Area:<br>
  <input type="text" name="area">
  <br>Area Code:<br>
  <input type="text" name="areacode">
  <br>Id Badge Number:<br>
  <input type="text" name="idbadgenumber">
  <br>Job Role:<br>
  <input type="text" name="jobRole">
  <br>AssignmentStatus:<br>
  <select type="text" name="assignmentStatus">
    <option>--</option>
    <option>READY_TO_START</option>
    <option>ASSIGNED</option>
    <option>ASSIGNMENT_ENDED</option>
    <option>ASSIGNMENT_CANCELLED</option>
    <option>NONE</option>
  </select>
  <br><br>
  <input  type="submit" name="submit"  value="Search">
</form>
